click==7.1.2
autopep8==1.5.7
backports==1.0
brotlipy==0.7.0
cryptography==3.4.7
cycler==0.10.0
dataclasses==0.8
dbus==1.13.18
dnspython==1.16.0
docopt==0.6.2
editdistance-s==1.0.0
expat==2.4.1
fett==0.3.2
fontconfig==2.13.1
freetype==2.10.4
gettext==0.19.8.1
glib==2.58.3
gst-plugins-base==1.14.5
gstreamer==1.14.5
icu==58.2
jbig==2.1
jpeg==9d
kiwisolver==1.3.2
lcms2==2.12
ld_impl_linux-64==2.36.1
lerc==2.2.1
libblas==3.9.0
libcblas==3.9.0
libdeflate==1.7
libffi==3.2.1
libgcc-ng==11.2.0
libgfortran-ng==11.2.0
libgfortran5==11.2.0
libgomp==11.2.0
libiconv==1.16
liblapack==3.9.0
libopenblas==0.3.17
libpng==1.6.37
libstdcxx-ng==11.2.0
libtiff==4.3.0
libuuid==2.32.1
libwebp-base==1.2.1
libxcb==1.13
libxml2==2.9.12
lz4-c==1.9.3
matplotlib==3.4.3
matplotlib-base==3.4.3
matplotlib-inline==0.1.3
more-itertools==8.10.0
ncurses==6.2
networkx==2.6.3
numpy==1.21.2
olefile==0.46
openjpeg==2.4.0
openssl==1.1.1l
pandas==1.3.3
pcre==8.45
pillow==8.3.2
pip==21.2.4
platformdirs==2.3.0
plot-profile==0.1.0
psutil==5.8.0
pthread-stubs==0.4
pycparser== 2.20
pymongo==3.11.4
pyopenssl==20.0.1
pyqt==5.9.2
pysocks==1.7.1
python==3.8.0
python-dateutil==2.8.2
python-jsonrpc-server==0.3.4
python_abi==3.8
qt==5.9.7
readline==8.1
setuptools==58.0.4
sip==4.19.13
snooty-lextudio==1.11.4.dev0
sqlite==3.36.0
tk==8.6.11
tomli==1.2.1
ujson==1.35
watchdog==1.0.2
wheel==0.37.0
xorg-libxau==1.0.9
xorg-libxdmcp==1.1.3
xz==5.2.5
yaml==0.2.5
zlib==1.2.11
zstd==1.5.0
